.main-text {
  font-family: "Rubik", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3cdbc0;
  height: 100vh;
  color: #ffffff;
}
.title {
  text-align: center;
  font-size: 30px;
}
